html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

#wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1, p {
	text-align: center;
}
